* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1380px;
  background: url(../assets/images/global-bg.jpg) center/cover;
  background-repeat: none;
  color: $clr-white;
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  width: 100%;

  @media screen and (max-width: $breakpoint-xxl) {
    padding: 0 1rem;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $clr-white;
}

p {
  font-size: 0.75rem;
}

.widget {
  background: $clr-light-black;
  border-radius: $border-radius_x2;
  padding: 10px;

  &-title {
    position: relative;

    h3 {
      color: $clr-white;
      font-weight: 300;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: $clr-black;
    }
  }

  &-text {
    line-height: 2;
    color: $clr-grey;
  }
}
