$clr-white: #fff;
$clr-black: #000;
$clr-grey: rgb(204, 204, 204);
$clr-light-black: rgba(0, 0, 0, 0.5);
$clr-medium-black: rgba(0, 0, 0, 0.62);
$clr-dark-black: rgba(0, 0, 0, 0.7);
$clr-red: red;

$transition: all 1s ease;
$border-radius: 5px;
$border-radius_x2: 10px;

$breakpoint-xs: 0px;
$breakpoint-s: 437px;
$breakpoint-md: 768px;
$breakpoint-l: 990px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$gap: 10px;
$gap_x2: 20px;
$gap_x4: 40px;
